<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Manager</title>
</head>
<body>
    <h1>IP Manager</h1>

    <input type="text" id="search" placeholder="Поиск...">

    <button id="search">Найти</button>

    <table>
        <thead>
            <tr>
                <th>IP</th>
                <th>Компьютер</th>
                <th>Пользователь</th>
                <th>Телефон</th>
                <th>Кабинет</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody id="computersTable"></tbody>
    </table>

    <script src="/static/app.js"></script>
    
</body>
</html>